/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

* {
	background: white;
}

.attend {
  text-align: left;
  margin-left: 10px;
}

.field {
  position: relative; 
}

.foodopt {
  width: 30%;
  display: inline-block;
  vertical-align: center;
}

.foodopt > input[type=radio] {
  display:none;
}

.foodopt > input[type=radio] + img {
  cursor:pointer;
  border:2px solid transparent;
}

.foodopt > input[type=radio]:checked + img {
  border:2px solid #f00;
}

.foodopt2 {
  width: 30%;
  display: inline-block;
  vertical-align: center;
}

.foodopt2 > input[type=radio] {
  display:none;
}

.foodopt2 > input[type=radio] + img {
  cursor:pointer;
  border:2px solid transparent;
}

.foodopt2 > input[type=radio]:checked + img {
  border:2px solid #f00;
}

.row {
	background: white;
	color: gray;
}

.header {
	margin-top: 13%;
	margin-bottom: 5%;
}

h4 {
    background-color: transparent;
}

h5 {
	font-size: 85%;
	text-align: justify;
	color: gray;
}

h3 {
    font-size: 50%;
}

h6 {
	font-size: 75%;
	color: red;
}

span {
	color: red;
	font-size: 75%;
}

p {
	text-align: center;
	color: gray;
}

p.thingstodo {
    text-align: left;
}

li {
	font-size: 85%;
	color: gray;
}


.two.columns.text-center.splash {
    height: 550px;
    background-color: whitesmoke;
}

.ten.columns.text-center.splash {
    height: 550px;
    background-color: purple;
}

.twelve.columns.text-center.thumb1 {
    background-color:purple;
    height: 125px;
    width: 100%;
    margin-top: 40px;
    background-image: url('/img/car.png');
    background-size: cover;
    background-position: center;
}

.twelve.columns.text-center.thumb2{
    background-color: orange;
    height: 125px;
    width:100%;
    background-image: url('/img/sliderimg/img_0013.jpg');
    background-size: cover;
    background-position: center;
}

.twelve.columns.text-center.thumb3{
    background-color: green;
    height: 125px;
    width:100%;
    background-image: url('/img/car.png');
    background-size: cover;
    background-position: center;
}

.twelve.columns.text-center.thumb4{
    background-color: blue;
    height: 125px;
    width:100%;
    background-image: url('/img/car.png');
    background-size: cover;
    background-position: center;
}

.twelve.columns.text-center.hotel img {
	width: 150px;
	height: 150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.twelve.columns.text-center.directions img {
	width: 150px;
	height: 150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.twelve.columns.text-center.ceremony img {
	width: 150px;
	height: 150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.twelve.columns.logo {
	height: 140px;
}

.twelve.columns.logo img {
	width: 140px;
	height: 140px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.four.columns.text-center.gifts img {
	width: 200px;
	height: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.row.groomsmen, .row.bridesmaids {
	margin-top: 5%;
}

.profilepic.robby,
.profilepic.julie, 
.profilepic.rachel, 
.profilepic.christy, 
.profilepic.annie, 
.profilepic.steph, 
.profilepic.emily, 
.profilepic.michelle,
.profilepic.mike, 
.profilepic.chris, 
.profilepic.dave, 
.profilepic.david,  
.profilepic.kyle {
	-moz-border-radius:52px;
 	-webkit-border-radius:52px;
 	border-radius:52px;
	width:100px;
	height:100px;
}

rsvp-button {
    color: gray;
    background-color: transparent;
    font-size: 75%;
}

.ui-widget-overlay.custom-overlay {
   background-color: #000 !important;
   opacity: 0.5 !important;
}

.ui-dialog-titlebar {
  visibility: hidden;
}

.dialog-form {
  height: 500px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
  height: 500px !important;
  width: 350px !important;
  bottom: 20px !important;
}

#dialog-form.ui-dialog-content.ui-widget-content {
  height: 400px !important;
  width: 340px !important;
  background: white;
}

.ui-resizable-handle.ui-resizable-se.ui-icon.ui-icon-gripsmall-diagonal-se {
  visibility: hidden;
}

li.attend {
  font-size: 70%;
}

#close-dialog {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.twelve.columns.text-center.thingstodo img {
	width: 150px;
	height: 150px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

twelve columns text-left header thingstodo {
    text-align: left;
    margin-bottom: -10px;
}

#thingstodoinboston {
    margin-bottom: -50px;
}

<!-- Slider -->
.slider-wrap {
    height: 550px;
}

.owl-wrapper {
    height: 550px;
}

.btn {
    color: #FFF !important;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding-left: 10px !important;
    padding-right: 10px !important;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}

.btn:hover {
    filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

.owl-carousel img {
    max-height: 550px;
}

